.category {
    height: 5vh;
    display: flex;
    align-items: center;
    transition: ease-in 0.1s;
    border-radius: 10px;
}

.category:hover {
    background-color: #6575A8;
    border-radius: 10px;
    padding: 0 0.5vw;
    width: 11.5vw
}

.category:hover p {
    color: #FFFFFF;
}

.category:hover a[class='active'] p {
    color: #FFFFFF;
}

.category a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.name {
    margin-right: 1vw;
    color: #6575A8
}

.icon {
    display: flex;
    align-items: center;
    color: darkgrey;
    margin-right: 0.5vw;
}

.category a[class='active'] p {
    color: dimgrey;
}